@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Itim&family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
html {
    scroll-behavior: smooth;
}

@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(100% 100% 0 0);
    }
    to {
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}

.block-appear {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.preview_aiditor {
    width: 3000px;
    height: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    scrollbar-width: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
}


/* ------------------------------------------------------------------------------------- */

.glass {
    z-index: 10;
    position: relative;
}


/* ------------------------------------------------------------------------------------- */

@keyframes increase-width {
    0% {
        width: 0px;
    }
    100% {
        width: 13rem;
    }
}

.cat-increase-width {
    width: 0%;
    animation: increase-width 2s ease forwards;
}

.dot-cat-middle {
    height: 20px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
}

.cat-hand {
    z-index: 20;
    position: relative;
}

.titleName {
    z-index: 1;
    position: relative;
}

.dot-cat-middle-projects {
    height: 18px;
    width: 12px;
    border-radius: 50%;
    display: inline-block;
    z-index: 10;
}

.dot-cat-projects {
    height: 10px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
    z-index: 20;
}

.dot-cat {
    height: 16px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    z-index: 20;
}

.bg-cat {
    background-image: url('/public/assets/bg-cat.gif');
    background-repeat: no-repeat;
}


/* ---------------------------------------------------------------------------------------------- */

.k2d-thin {
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.k2d-extralight {
    font-family: "K2D", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.k2d-light {
    font-family: "K2D", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.k2d-regular {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.k2d-medium {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.k2d-semibold {
    font-family: "K2D", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.k2d-bold {
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.k2d-extrabold {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.k2d-thin-italic {
    font-family: "K2D", sans-serif;
    font-weight: 100;
    font-style: italic;
}

.k2d-extralight-italic {
    font-family: "K2D", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.k2d-light-italic {
    font-family: "K2D", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.k2d-regular-italic {
    font-family: "K2D", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.k2d-medium-italic {
    font-family: "K2D", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.k2d-semibold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.k2d-bold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 700;
    font-style: italic;
}

.k2d-extrabold-italic {
    font-family: "K2D", sans-serif;
    font-weight: 800;
    font-style: italic;
}